.double-column {
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
}

.double-column .row{
    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 961px) {
    .double-column {
        width: 100%;
        margin: 0;
        margin-bottom: 65px;
    }
    
    .double-column .row{
        display: grid;
        grid-template-columns: 485px calc(100% - 485px);
    }
}