main{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding-left: 20px;
    margin: 0;
    transition: .5s;
}

@media only screen and (min-width: 961px) {
    main{
        position: relative;
        left: 240px;
        top: 0;
        width: calc(100% - 240px);
        padding-left: 80px;
        margin: 0;
        transition: .5s;
    }
}