* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

::placeholder {
  opacity: 0.4;
  color: #30384c;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

::-webkit-scrollbar{
  width: 5px;
  border-radius: 10px;
  padding-top: 20px !important;
}

::-webkit-scrollbar-thumb{
  width: 100%;
  background: var(--primary-color);
  border-radius: 10px;
}